*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#minicircle{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #fff;
    z-index: 999;
    border-radius: 50%;
    transition: all ease 0.03s;
}

.bounding{
    width: fit-content;
    overflow: hidden;
    
}
.bounding .boundingelem{
    transform: translateY(100%);
   
}
#main{
    width: 100%;
    background-color: black;
}
#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    position: relative;
}

#nav{
    width: 100%;
    padding: 20px 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav a{
    color: white;
    text-decoration: none;
}
#heading {
    margin-top: 60px;

}
#heading h1{
    line-height: 1;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 500;
    opacity: .7;
    margin-left: 40px;

}
#heading #designer{
    margin-left: 170px;
}
.blocktext {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.blocktext h4{
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}
#sideelements{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#sideelements h5{
    text-align: right;
    padding-right: 40px;
    text-transform: uppercase;
    font-size: 1.5vw;
    margin-top: 1vw;
}

#herofooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 3%;
    width: 100%;
    padding: 0 2vw;
}
#herofooter a{
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
#herofooter #iconset{
    display: flex;
    gap: 7px;
}

#herofooter .circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
   background-color: #888;
   display: flex;
   align-items: center;
   justify-content: center;
}

#second{
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-right: 15vw;
    color: #888;
    padding-top: 150px;
}
.element{
    position: relative;
    width: 100%;
    padding: 3vw 3vw;
    border-top: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    
}
.elemlast{
    border-bottom: 1px solid #888;
}

.element h1{
    text-transform: uppercase;
    font-size: 8vw;
    opacity: .8;
    font-weight: 100;
}
.element img{
    height: 130%;
    position: absolute;
    z-index: 999;
    opacity: 0;

}

#about{
    margin-top: 6vh;
    background-color: rgba(252, 79, 79, 0.39);
    color: white;
    padding: 10vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    align-items: center;
    justify-content: space-around;
}
#about img{
  width: 25vmax;
  height: 45vmin;  
  margin-left: 2vw;
}
#textabout h5{
    text-transform: uppercase;
    opacity: .7;
    margin-bottom: 10px;
    width: 100%;
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
    display: flex;
    font-size: 17px;

}
#textabout a{
    padding: 12px 22px;
    border: 1px solid #888;
    border-radius: 100px;
    text-decoration: none;
    color: white;
    font-size: 13px;
}
#subscribe{
    width: 100%;
    background-color: black;
    padding-bottom: 8vw;
}
#subscribe h5{
    text-transform: uppercase;
    color: white;
    opacity: .7;
    padding: 10px 20px ;
}
#subscribe a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px 20px;
}
#footer{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 40px 30px;
    background-color: black;
    width: 100%;
    color: white;
}
#footerleft{
    display: flex;
    gap: 20px;
}
#footerright{
    display: flex;
    gap: 20px;
}
#footerright a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
   
}

/* =================Responsive================= */
@media (max-width:1100px) {
    #second{
        padding-top: 50px;
        height: fit-content;
    }
   
}
@media (max-width:950px){
    #about img{
        height: 50vh;
        width: 33vw;
        margin-left: 0vw;
    }
}
@media(max-width:745px){
    #about{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .about-img {
        padding: 10px calc(20%);
    }
    #about img{
        height: 50vh;
        width: 50vw;
        margin-left: 0vw;
    }

}
